body {
  background-color: var(--color-body-bg);
  color: var(--color-text);
  display: flex;
  justify-content: center;
}

body, textarea, button, input {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: hsl(354.9, 100%, 43.7%);
}