.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  list-style: none;
}
.features__card {
  background-color: rgba(222, 135, 135, 0.18);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.features__icon {
  width: 100%;
  max-width: 230px;
  margin: 0 auto 30px auto;
}