*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: var(--color-body-bg);
  color: var(--color-text);
  display: flex;
  justify-content: center;
}

body, textarea, button, input {
  font-family: "Raleway", sans-serif;
}

.header {
  --header-img: url("../assets/images/header/index-header.png");
  --header-rad: radial-gradient(transparent, var(--header-col));
  --header-col: hsla(0, 0%, 0%, 0.35);
  align-items: center;
  background-image: var(--header-rad), var(--header-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-header-text);
  display: flex;
  flex-direction: column;
  font-family: "Pacifico", cursive;
  justify-content: center;
  min-height: 200px;
}
.header--about {
  --header-img: url("../assets/images/header/about-header.png");
}
.header--contact {
  --header-img: url("../assets/images/header/contact-header.png");
}
.header--services {
  --header-img: url("../assets/images/header/services-header.png");
}
.header__text {
  font-size: 1.125rem;
}

.wrapper {
  background-color: var(--color-wrapper-bg);
  display: flex;
  flex-direction: column;
  max-width: var(--width-wrapper);
  width: 100%;
}

.content {
  background-color: var(--color-content-bg);
  min-height: 300px;
  padding: 30px 25px;
}

.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
  display: grid;
  min-height: 150px;
  place-items: center;
  padding: 20px;
  text-align: center;
}

:root {
  /* Base colors */
  --color-light-gray: hsl(0, 0%, 95%);
  --color-light-green: hsl(160, 100%, 75%);
  --color-dark-blue: hsl(201, 100%, 14%);
  --color-light-blue: hsl(192, 70%, 43%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(355, 78%, 56%);
  --color-dark-gray: hsl(0, 0%, 16%);
  --color-gray: hsl(0, 0%, 27%);
  --color-light-gray-2: hsl(0, 0%, 54.9%);
  /* Element colors */
  --color-body-bg: var(--color-light-gray);
  --color-wrapper-bg: var(--color-light-green);
  --color-menu-bg: var(--color-dark-blue);
  --color-header-bg: var(--color-light-blue);
  --color-content-bg: var(--color-white);
  --color-header-title: var(--color-white);
  --color-footer-bg: var(--color-red);
  --color-link: var(--color-white);
  --color-text: var(--color-dark-gray);
  --color-header-text: var(--color-white);
  --color-footer-text: var(--color-white);
  --color-figcaption-text: var(--color-gray);
  --color-table-border: #d3d2d2;
  --color-table-header: var(--color-red);
  --color-table-row-hover: #f1f1f1;
  --color-highlight: hsl(180, 100%, 50%);
  --color-submit-hover: #07cca0;
  --color-reset-hover: var(--color-red);
  /* Layout */
  --width-menu: 18%;
  --width-main: calc(100% - var(--width-menu));
  --width-wrapper: 1200px;
  /* Hamburguer */
  --hamb-bottom-space: 6px;
  --hamb-height: 4px;
  --hamb-size: calc(var(--hamb-bottom-space) + var(--hamb-height));
}

.main-title {
  color: var(--color-header-title);
  font-size: clamp(2.25rem, 7vw, 3.125rem);
  text-shadow: 4px 4px 0 hsla(0, 0%, 0%, 0.478);
}

.title-1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 16px;
}

.title-2 {
  font-size: clamp(1.375rem, 5vw, 1.75rem);
  margin-top: 36px;
  margin-bottom: 18px;
}

.text {
  margin-bottom: 10px;
  line-height: 1.5;
}

.list {
  margin-left: 10px;
  list-style-position: inside;
  line-height: 1.4;
}

.highlight {
  color: var(--color-highlight);
}

.figure {
  margin-bottom: 24px;
}
.figure__caption {
  color: var(--color-figcaption-text);
  text-align: center;
}

.menu {
  background-color: var(--color-menu-bg);
  min-width: fit-content;
  padding: 20px 30px;
}
.menu__list {
  align-items: center;
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  list-style: none;
  margin-top: 16px;
  position: sticky;
}
.menu__link {
  color: var(--color-link);
  display: block;
  text-decoration: none;
  padding: 12px;
}
.menu__link > i {
  width: 25px;
}
.menu__item {
  position: relative;
  width: 100%;
}
.menu__item::before {
  background-color: var(--color-red);
  content: "";
  height: 100%;
  position: absolute;
  transition: width 0.35s;
  width: 0;
  z-index: -1;
}
.menu__item.active::before {
  width: 100%;
}

.hamburguer {
  cursor: pointer;
  display: block;
  width: fit-content;
}
.hamburguer__bar {
  background-color: var(--color-white);
  height: var(--hamb-height);
  transition: transform 0.2s, width 0.2s, opacity 0.2s;
  width: 30px;
}
.hamburguer__bar:not(:last-child) {
  margin-bottom: var(--hamb-bottom-space);
}

.hamburguer-checker {
  display: none;
}
.hamburguer-checker:checked ~ .menu__list {
  display: flex;
}
.hamburguer-checker:checked ~ .hamburguer > .hamburguer__bar:nth-child(1) {
  transform: translate(0, var(--hamb-size)) rotate(45deg);
}
.hamburguer-checker:checked ~ .hamburguer > .hamburguer__bar:nth-child(2) {
  opacity: 0;
  width: 0;
}
.hamburguer-checker:checked ~ .hamburguer > .hamburguer__bar:nth-child(3) {
  transform: translate(0, calc(var(--hamb-size) * -1)) rotate(-45deg);
}

@media screen and (min-width: 36rem) {
  .hamburguer {
    display: none;
  }
  .menu {
    padding: 20px 15px;
  }
  .menu__list {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  .menu__item {
    width: auto;
  }
}
@media screen and (min-width: 62rem) {
  .main {
    width: var(--width-main);
  }
  .menu {
    padding: 10px 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    width: var(--width-menu);
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__item {
    width: 100%;
  }
  .menu__item.active::before {
    width: 4px;
  }
  .menu__item:hover::before {
    width: 100%;
  }
  .menu__item.active::after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25) 60%, transparent);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  .wrapper {
    flex-direction: row;
  }
}