table {
  min-width: 700px;
  text-align: left;
  width: 100%;
}

table, th, td {
  border: 1px solid var(--color-table-border);
  border-collapse: collapse;
  padding: 8px;
}

th {
  background-color: var(--color-table-header);
  color: var(--color-white);
}

tr:hover {
  background-color: var(--color-table-row-hover);
}

.table-container {
  overflow-x: auto;
}